div.editor {
  width: 60%;
  margin:70px auto;
  margin-bottom: 0px;
  div.content {
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    background-color: #fff;
    // border-radius: 8px;
    width: 95%;
    padding: 50px;
    @height: 966px;
    height: @height;
    textarea {
      height: 100%;
      width: 100%;
      border: none;
      resize: none;
      outline: none;
    }
  }
}