div.header {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  background-color: #444;
  line-height: 30px;
  font-size: 12px;
  div.logo {
    width: 50px;
    float: left;
    margin-left: 30px;
    a {
      color: #f3f3f3;
      text-decoration: none;
    }
  }
  div.actions {
    width: 60%;
    margin: 0 auto;
    input {
      margin: 0px 5px;
      border-radius: 6px;
      margin-top: 3px;
      outline: none;
      width: 30%;
      padding: 0px 5px;
      border: none;
      height: 23px;
      background-color: #eee;
      &:focus {
        background-color: #fff;
      }
    }
    div.right-actions {
      width: 50%;
      float: right;
      color: #fff;
      div.action {
        float: right;
        padding: 0 15px;
        margin-right: 2px;
        background-color: #555;
        &:hover {
          background-color: #666;
          cursor: pointer;
        }
      }
    }
  }
}