<div class="dashboard" 
     v-show="dashboardActive" 
     v-transition
     v-on="click: clickHandler">
  <ul class="pages items">
    <li class="item" 
      v-repeat="activeNotebook.pages"
      v-class="active: activeNotebook.active_page_id == id"
      v-on="click: activatePage(id)">
      <i class="fa fa-times delete" 
         v-on="click: deletePage($event, id)"></i>
      <p>
      {{index}} . {{content|limited}}
      </p>
    </li>
    <li class="item plus"
        v-show="user.active_notebook_id != -1"
        v-on="click: createNewPage">
      <i class="fa fa-plus fa-2x plus"></i>
    </li>
  </ul>
  <ul class="notebooks items">
    <li class="notebook item" 
      v-repeat="notebooks"
      v-class="active: user.active_notebook_id == id"
      v-on="click: activateNotebook(id)">
      <i class="fa fa-times delete" 
         v-on="click: deleteNotebook($event, id)"></i>
      <div class="decoration"></div>
      <p title="双击修改笔记本名"
         v-show="!editMode"
         v-on="dblclick: enableEditMode(this, $event)">{{index}}:{{name}}</p>
      <input class="notebook-name" 
        v-class="last: $index == notebooks.length - 1"
        v-model="name"
        v-show="editMode"
        v-on="blur: checkAndSend(this, $event)">
    </li>
    <li class="notebook item plus" v-on="click: createNewNotebook(this, $event)">
      <i class="fa fa-plus fa-2x plus"></i>
    </li>
  </ul>
</div>