* {
  margin: 0px;
  padding: 0px;
  font-family: '微软雅黑';
}

body {
  background-color: #f9f9fa;
}

input, textarea, button {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

div.bar-title {
  padding: 5px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  border-bottom: 1px solid #E8EBED;
}
